<div>

    <h2>Repetitions</h2>

    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#saveRepetitionModal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span> Create a new Repetition
    </button>
    <div class="modal fade" id="saveRepetitionModal" tabindex="-1" role="dialog" aria-labelledby="myRepetitionLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" role="form" novalidate
                      class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                      ng-submit="create()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myRepetitionLabel">Create or edit a Repetition</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="repetition.id" readonly>
                        </div>

                        <div class="form-group">
                            <label>Set_identifier</label>
                            <input type="number" class="form-control"
                                   ng-model="repetition.set_identifier">
                        </div>
                        <div class="form-group">
                            <label>Training_identifier</label>
                            <input type="number" class="form-control"
                                   ng-model="repetition.training_identifier">
                        </div>
                        <div class="form-group">
                            <label>Exercice_identifier</label>
                            <input type="text" class="form-control"
                                   ng-model="repetition.exercice_identifier">
                        </div>
                        <div class="form-group">
                            <label>Nb_of_repetitions</label>
                            <input type="number" class="form-control"
                                   ng-model="repetition.nb_of_repetitions">
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span> Save
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Set_identifier</th>
                    <th>Training_identifier</th>
                    <th>Exercice_identifier</th>
                    <th>Nb_of_repetitions</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="repetition in repetitions">
                    <td>{{repetition.id}}</td>
                    <td>{{repetition.set_identifier}}</td>
                    <td>{{repetition.training_identifier}}</td>
                    <td>{{repetition.exercice_identifier}}</td>
                    <td>{{repetition.nb_of_repetitions}}</td>
                    <td>
                        <button type="submit"
                                ng-click="update(repetition.id)"
                                class="btn btn-default">
                            <span class="glyphicon glyphicon-pencil"></span> Edit
                        </button>
                        <button type="submit"
                                ng-click="delete(repetition.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span> Delete
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
